body{
    background: rgb(248, 247, 247);
}
#title{
    width:1000px;
    height:100px;
    margin:10px auto;
    margin-bottom:30px;
    position:relative;
    img{
        float:left;
        margin-top:29px;
    }
    p{
        float:left;
        width:250px;
        height:44px;
        border-left:1px solid #ddd;
        font:28px/44px "";
        color:#333;
        text-align:center;
        margin:25px 0 0 20px;
    }
    .guanzhu{
        float:right;
        .ewm{
            width:60px;
            height:60px;
            background:url(../images/ewm.png) no-repeat center;
            position:absolute;
            top:-10px;
            right:-100px;
            b{
                display:block;
                width:10px;
                height:10px;
                background:rgba(161, 161, 161, 0.1);
                position:absolute;
                left:25px;
                top:-5px;
            }
        }
        a{
            position:absolute;
            right:0;
            bottom:0;
        }
    }
}